[2015-11-04 17:22] marshallswain opened #1 "Create a RethinkDB adapter that uses Thinky ORM"
https://thinky.io/
feathers-rethinky would be to feathers-rethinkdb what feathers-mongoose is to feathers-mongodb.

[2015-11-16 07:49] marshallswain opened #2 "implement changefeeds"
https://www.rethinkdb.com/docs/changefeeds/javascript/

[2015-11-16 08:11] marshallswain opened #3 "Create additional query tests."
We need to test some more-complex query scenarios since this adapter has to manually support MondoDB-style queries.

[2015-11-16 08:14] marshallswain opened #4 "Create tests for returning cursors."
I've created a `returnCursors` option that will return a RethinkDB cursor from find queries.  It's not tested, and it would also be good to see if this can be used in any of the other methods.

[2015-11-16 08:18] marshallswain opened #5 "Make $or use the `parseQuery` function"
This part: https://github.com/feathersjs/feathers-rethinkdb/blob/master/src/index.js#L112

Can be rewritten to use this function: https://github.com/feathersjs/feathers-rethinkdb/blob/master/src/index.js#L298

[2015-11-16 08:22] marshallswain opened #6 "Optimized queries using indexes."
Current queries do not use an index.  With RethinkDB, you must manually specify an index in order to achieve higher performance.  Queries need to automatically use an index when it's an option.  We could also make an option for the user to specify an index with `$index`.

[2015-11-16 17:44] marshallswain opened #7 "Allow reusing an existing connection."

[2016-02-21 05:08] marshallswain opened #8 "Rework the find method."
Use this: https://github.com/contra/rethink-decl/blob/master/src/index.js

[2016-03-16 23:55] fallenpeace opened #9 "Is this still in dev?"
Wondering if this will be continue to be worked on, simply given the fact rethinkdb, is already realtime.

[2016-03-17 00:57] daffl commented on #9
I am not too familiar with RethinkDB and I'll let @marshallswain chime in with his thoughts and plans for this project but here are some of my thoughts:

The [RethinkDB FAQ](https://www.rethinkdb.com/faq/) describes pretty well how RethinkDB is different from real-time sync:

In RethinkDBs terms Feathers is really an open-source real-time sync provider (like Firebase) which provides REST and webso

[2016-03-17 03:03] marshallswain commented on #9
I think the solution I posted in #8 will make it easy to turn this into a real, working adapter.  I will have time to test it out sometime within the next couple of weeks, too, so I'm getting close.  I think we can figure out a great plugin solution to take advantage of more advanced sync, like @daffl mentioned.

[2016-03-30 02:47] marshallswain commented on #8
This doesn't give us anything more than what we already have.

[2016-03-30 02:47] #8 closed

[2016-03-30 02:48] marshallswain opened #10 "Make it pass all tests"
Current state of tests.

![screen shot 2016-03-29 at 8 49 48 pm](https://cloud.githubusercontent.com/assets/128857/14130400/dc7e7b3e-f5ef-11e5-89e5-436cede5f94b.jpg)

[2016-03-30 02:53] marshallswain opened #11 "Move rethinkdbdash to a dev dependency."
Neither rethinkdb nor rethinkdbdash is a dependency, anymore.  rethinkdbdash is used in the tests.

[2016-04-01 04:27] #10 closed

[2016-04-01 04:27] marshallswain commented on #10
All tests are passing, but only locally.

[2016-04-01 04:28] #7 closed

[2016-04-01 04:28] marshallswain commented on #7
This is now required.

[2016-04-01 04:33] marshallswain opened #12 "Automated tests in Travis"
There are a few options:
- Use this module to replace r: https://github.com/YChebotaev/rethinkdb-fake-connection
- Do what this guy does: https://github.com/neumino/rethinkdbdash/blob/master/test/config.js
- Wait for the travis add-on to be finished: https://github.com/travis-ci/travis-build/pull/676

[2016-04-01 04:39] marshallswain opened #13 "Support cursors"
Resolve the promises with cursors instead of arrays.  Then they could be handled with hooks.

Use this config to get the default rethinkdb driver options.

[code]

[2016-04-02 03:42] marshallswain commented on #12
Here are the status images when this is ready

[code]

[2016-04-02 04:04] #11 closed

[2016-04-03 01:59] ekryski commented on #9
I think we can close this now. It is very much still in development. @marshallswain is kicking ass right now! :tada:

[2016-04-03 01:59] #9 closed

[2016-04-11 00:55] #12 closed

[2016-04-11 04:04] daffl commented on #3
It looks like it currently only supports a single query value (in https://github.com/feathersjs/feathers-rethinkdb/blob/master/src/parse.js#L15). That means that something like `{ age: { $gt: 20, $lt: 40 } }` won't work.

[2016-04-11 04:05] #2 closed

[2016-04-19 23:03] codermapuche opened #16 "Add $regexp type filter"
Adding this case to /src/parse.js can filter fields by regexp:
`        case '$regexp':
          isFilter = true;
          reQuery = reQuery.filter(function(doc){
            return doc(qField).match(qValue.$regexp)
          });
          break;`

[2016-04-19 23:15] ekryski commented on #16
@codermapuche are you interested in turning that into a PR? cc/ @marshallswain

[2016-04-20 15:59] SkaterDad opened #17 "Geospatial Queries?"
Is there a recommended way to use this with Rethink's geospatial queries?  I'm having a hard time visualizing how you would do it, except for maybe extending the service class and overriding methods with custom querying?

The ReQL functions like `distance` and `getNearest` would be great candidates to have official support.

With `distance`, you need to be able to pass in the a reference location,

[2016-05-12 12:03] pkese opened #21 "Missing real-time changefeed documentation"
I've noticed that there was a changefeed support merged in in #15, but I can't seem to find it documented anywhere.
I'm clueless on how to use it.

[2016-05-12 12:53] marshallswain commented on #21
There is actually nothing additional required in order to use it.  You just listen to socket events on the client like normal.

[code]

[2016-05-12 14:45] pkese commented on #21
Uh. I'm so sorry --  I'm still a bit perplexed.

I assume `socket.on('todos updated', todo => { ...` code is part of the client-side code talking to a service running on a server somewhere. Is there anything that needs to be done on the server side in order to support this functionality on the service?

Is `'todos updated'` websocket endpoint/call just a standard Feathers backend service call? Wha

[2016-05-12 14:55] marshallswain commented on #21
Sorry I'm short on time or I'd give you a more detailed answer.  We try to keep things as transparent and declarative as possible to avoid magic.  The `feathers-rethinkdb` adapter automatically subscribes to all events on the RethinkDB table and sends them as feathers events to the client.  See the code for this here: https://github.com/feathersjs/feathers-rethinkdb/blob/master/src/index.js#L244

[2016-05-12 15:33] pkese commented on #21
Thank you very much, your answer was very helpful.

I'm not sure if I should now close the ticket -- the documentation would still be appreciated, and until then this ticket might provide some clue for others as well.

[2016-05-12 15:34] marshallswain commented on #21
Let’s leave it open.  I’ll work at least this much information into the docs.  Thanks!

[2016-05-16 00:28] daffl commented on #21
@marshallswain Did we still want to publish that article at compose.io?

[2016-05-19 06:10] daffl commented on #6
Is this still necessary or was that from before when the adapter set up its own tables and connection?

[2016-05-19 14:02] marshallswain commented on #6
Yeah.  It's now outside the scope of the adapter to handle indexes.

[2016-05-19 14:05] marshallswain commented on #6
I added a note to the ready.

[2016-05-21 21:58] ekryski commented on #1
Is this still relevant @marshallswain?

[2016-05-22 00:28] marshallswain commented on #1
I don't think so.

[2016-05-22 00:28] #1 closed

[2016-05-29 02:51] bobbyhubbard opened #25 "event filters duplicated"
I have a filter registered on the 'created' event. It is getting triggered for each socketio connection I have connected. Is this expected behavior? Is there a way to only get one event notification? I dont understand why I would get a separate filter trigger for each one. Additionally, `connection` only tells me the client connection is socketio. Not very helpful in identifying each.

The default

[2016-05-29 07:08] daffl commented on #25
Yes. Filters are supposed to determine if the event should be dispatched to the given connection which is why it runs through every connection. It sounds like what you want to do is listen to a [real-time event](http://docs.feathersjs.com/real-time/events.html) on the service and then emit your own event:

[code]

To prevent dispatching the original `created` event to connected clients you can now

[2016-05-31 01:49] #25 closed

[2016-06-17 19:30] dweldon commented on #6
The last example in the [secondary-indexes doc](https://www.rethinkdb.com/docs/secondary-indexes/javascript/) seems to indicate that you always need to use `getAll` along with an `index` argument in order to actually use the index. When I look at this code, `getAll` only appears once in the call to `patch`.

Am I missing something?

If not, then it seems like this is still an issue and we'd need t

[2016-06-17 19:37] marshallswain commented on #6
Hmm.. I think you're right.  Maybe we need to create an `$indexCreate`, `$indexWait`,  `$index` special query params.  @daffl what do you think?

[2016-06-29 19:52] dweldon commented on #21
If all DB events are automatically sent when using rethink, then doesn't this mean you can go from 1 to N application severs w/o any other changes? If so, that seems like a big selling point...

[2016-06-29 20:08] daffl commented on #21
@dweldon It does indeed. For other databases you will have to set up something like [feathers-sync](https://github.com/feathersjs/feathers-sync/).

[2016-07-06 22:29] marshallswain commented on #16
Related to https://github.com/feathersjs/feathers/issues/334

[2016-07-06 22:39] marshallswain commented on #16
Looks like this is already in the code: https://github.com/feathersjs/feathers-rethinkdb/blob/master/src/parse.js#L34

[2016-07-06 22:39] #16 closed

[2016-07-06 22:40] marshallswain opened #26 "Add test for $search"
We still don't have a test for the $search / regExp filter.  Need to finish this: https://github.com/feathersjs/feathers-service-tests/issues/7

[2016-07-12 15:53] pkese opened #28 "TypeError: Cannot read property '0' of undefined"
I have setup a table with custom `id` field as follows:
[code]

Then I create new entries with **preset** hash (id) field:
`app.service('session').create({hash:'123456', ...})`

And I get the above error.

I have managed to replace the following code in `function create(data)`:
[code]

with

[code]

... and things appear to work.

However there are similar problems in `patch` and `update`.

[2016-07-12 15:57] pkese opened #29 "TypeError: Cannot read property '0' of undefined"
I have setup a table with custom `id` field as follows:
[code]

Then I create new entries with **preset** hash (id) field:
`app.service('session').create({hash:'123456', ...})`

And I get the above error.

I have managed to replace the following code in `function create(data)`:
[code]

with

[code]

... and things appear to work.

However there are similar problems in `patch` and `update`.

[2016-07-12 16:38] pkese commented on #29
Github was behaving weirdly and I created this issue twice, so closing this duplicate.

[2016-07-12 16:38] #29 closed

[2016-07-12 18:10] pkese commented on #28
I have made a patch that fixes this issue (below) and I have tested it with my own test as well as some customized tests from `feathers-rethinkdb` and `feathers-service-tests` (I'd update these tests as well, but I find it difficult to parametrize the `id` field in example app).

https://github.com/pkese/feathers-rethinkdb/commit/f62d096e19f4def5274136efbe38041a5c9aff52

[2016-07-12 18:15] pkese commented on #28
Here's also my fiddling with tests
https://github.com/pkese/feathers-rethinkdb/commit/63102eb8fafe8b8209d093625ad7d7b513ffc852

Adding hard-coded customized `id` field to example app feels a bit improper...

[2016-07-13 08:58] pkese commented on #28
After a bit more throughout testing through my own application, there's now a patch request #30 waiting  for merge.

[2016-07-16 18:42] #28 closed

[2016-07-18 22:40] aldrakos commented on #3
Hello,
I did a quick fix for that. Since I am not very well versed in rethinkDB and node.js, and had only a few minutes to spare, I am posting the fix to allow multiple queries here, as it is far from optimal.
Basicly I just added a loop over query params value (if object) and run the filters one after the other. Don't know if this very bad in rethinkDB, and I am sure it can be further optimized.

[2016-07-21 20:51] abibao commented on #1
With thinky you can have model and strong type, not with rethinkdbdash.

[2016-07-21 21:18] marshallswain commented on #1
@abibao, with stuff that the team has in the works, I don't think those things will be a concern in the coming releases.  I don't consider it a priority for myself to make this happen in the meantime, since I don't think that it's very far off until we have a universal solution for that stuff across all database/service types.

[2016-07-26 03:15] marshallswain commented on #1
@abibao https://www.npmjs.com/package/feathers-rethinky

[2016-07-26 03:15] marshallswain commented on #1
Looks like somebody took care of it.

[2016-07-28 09:52] JZiebikiewicz opened #31 "$search not working - cannot convert `undefined` with r.expr()"
Hi, when I'm trying to use _$search_ in this way:

[code]

 I get console error:

[code]

Am I doing something wrong? How to use $search?

[2016-07-28 20:46] marshallswain commented on #31
Try this:
[code]

[2016-07-28 22:00] daffl commented on #31
Where did it say that this is supported? I don't think it is (there is https://github.com/feathersjs/feathers-rethinkdb/pull/20 though which we should get in soon).

[2016-07-28 22:20] marshallswain commented on #31
Ah.  Thanks @daffl.  I forgot this one doesn't use the `feathers-query-filters repo`, so yeah this isn't supported, yet.

[2016-07-29 01:42] daffl commented on #31
No it does but query filters (or any of the other adapters) doesn't support it yet either.

[2016-07-29 01:44] marshallswain commented on #31
Weird.  I thought I saw somebody add $search to a repo this week.

[2016-07-29 08:39] daffl commented on #31
It was probably https://github.com/feathersjs/feathers-query-filters/pull/11 which is still open

[2016-07-29 10:10] JZiebikiewicz commented on #31
I thought it's magically working. [Here](https://github.com/feathersjs/feathers-rethinkdb/blob/master/src/parse.js#L34-L39) is undefined and unmentioned before _$regexp_:
[code]

[2016-08-24 14:31] Mangatt opened #33 "Cannot read property '0' of undefined when creating multiple entries"
Here's the thing - I need to create entries with custom ids (= not auto-generated ones).

[code]

But when you try to use multiple entries:

[code]
Here is error:
[code]
What can be done to prevent this error?

[2016-08-24 16:07] daffl commented on #33
Sounds like it might be from https://github.com/feathersjs/feathers-rethinkdb/blob/master/src/index.js#L180

[2016-08-24 16:08] Mangatt commented on #33
[code]

[2016-08-24 16:09] Mangatt commented on #33
@daffl Exactly

[2016-08-24 16:09] daffl commented on #33
It might just have to be changed to

[code]

[2016-08-24 16:18] Mangatt commented on #33
No, this is not working, problem is at res.generated_keys[0] part. Following code is working in my case, but I'm not sure that it works correctly in other cases.
[code]

[2016-08-24 16:29] daffl commented on #33
I thought there wouldn't be any generated keys if you are returning your own.

Is it returning the correct object? If so, then what you are suggesting is definitely the right fix.

[2016-08-24 16:40] Mangatt commented on #33
`
if(res.generated_keys) {
result[idField] = res.generated_keys[0];
			}
`

[2016-08-25 21:33] #33 closed

[2016-09-01 09:48] elaijuh opened #35 "Mention id option in documentation"
I think it's worth mention that the default idField is `id`, as the `feathers-authentication` module is using `_id` and seems `_id` is a convention through

[2016-09-02 03:43] #35 closed

[2016-09-02 03:44] daffl commented on #35
Good point, the `id` option wasn't documented at all so I added it the same as it is in all the other adapters.

[2016-09-21 19:32] marshallswain opened #41 "Travis tests running out of memory when starting RethinkDB server"
https://travis-ci.org/feathersjs/feathers-rethinkdb/jobs/161723026

[2016-09-21 23:04] daffl commented on #41
Might be a Node bug: https://github.com/nodejs/node/issues/8571

[2016-09-28 03:01] daffl commented on #41
Fixed in 6.7.0, see https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V6.md#6.7.0

[2016-09-28 03:01] #41 closed

[2016-10-07 05:03] jkudish opened #47 "$sort doesn't seem to work as expected"
There seems to be some issues with the `$sort` param.

It works correctly when I sort by the `id` of a table, but if I sort via other fields, I get inconsistent or broken results.

The fields I am trying to sort by have an index in Rethink, and sorting in Rethink directly works without any issues.

Any one else run into issues like this?

[2016-10-11 00:07] jkudish commented on #47
The issue was in my app (after the results came back from the DB, my code re-sorted the results by ID without me realizing), so closing. Sorry for the false alarm.

However it'd be great if when sorting by date, it'd be possible to choose where row entries with `false` show up. For example, if I have a field `due_date` which can contain a date or `false`, and I sort by ascending `due_date`, I'd li

[2016-10-11 00:07] #47 closed

[2016-10-11 10:15] sjmcdowall opened #48 "Can't figure out how to get $in to work"
I've tried various ways to get $in to work from a RESTful URL call, the closest of which I think is :
 /api/field[$in]=[‘value1’,’value2’]

but regardless I get the error:
[code]

Note the quoting \' of the array within the expr() .. I think that's the issue but no idea how to fix it via making a better URL ?

[2016-10-12 01:55] daffl commented on #48
As mentioned in the chat and shown in this [Stackoverflow answer](http://stackoverflow.com/questions/39931882/feathersjs-rest-multiple-query-string/39945686#39945686) the correct query is

[code]

And requires extended query parsing enabled via `app.set('query parser', 'extended');`.

[2016-10-12 01:55] #48 closed

[2016-10-27 01:30] evgenyboxer commented on #31
Any update on this? Can I search with rethinkdb?

[2016-10-27 01:33] evgenyboxer opened #52 "Boolean values"
Hey,

I was trying to filter TODO list by proving a boolean value (/serviceEndPoint?completed=true), but that didn't work because the value was actually 'true', which results with zero records.

This worked for me:
[code]

Am I doing something wrong?

[2016-10-27 04:53] marshallswain commented on #52
Have you tried using `completed=1` or `completed=0`?  I'm just curious if it works.  I think it really depends on how the query parser handles the query.  Since it appears to be leaving it as a string,  your solution is probably the way to go.

[code]

[2016-10-28 01:19] daffl commented on #52
That's the way to do it. It also might be possible to use different query parsers that try to convert this automatically but hooks are still the most straightforward way. We can't do this automatically since we have no information about the data format that we might want to convert to.

[2016-10-28 01:19] #52 closed

[2016-11-15 04:58] daffl commented on #3
Closed via #53

[2016-11-15 04:58] #3 closed

[2016-11-15 04:58] daffl commented on #5
Closed via #53

[2016-11-15 04:58] #5 closed

[2016-11-16 02:18] daffl commented on #26
See https://github.com/feathersjs/feathers/issues/334#issuecomment-260834107

[2016-11-16 02:18] #26 closed

[2016-11-17 18:00] marshallswain opened #54 "Add utility for creating a table"
Based on this code: https://github.com/feathersjs/feathers-generator/pull/30/files#r88298599

I think we should move this into a standalone utility inside the `feathers-rethinkdb` repo, so you can just do something like this.

[code]

This hides the really ugly table setup code that rethinkdb requires (+1 for hiding it behind a module), but handy for portability (between dbs) and cheap to keep in

[2016-11-17 18:15] daffl commented on #54
Could the service just do that like `app.service('rethinkservice').createTable()`?

[2016-11-17 19:13] marshallswain commented on #54
I vote yes.  Then `r` doesn't have to be passed separately. 👍

[2016-11-17 20:50] slajax commented on #54
Agreed. I'm working on this In the generator right now and will push up a PR for it on this side shortly.

[2016-11-17 20:56] slajax commented on #54
@daffl @marshallswain do you guys agree we'll also need to add an option I the constructor so it's called dynamically when required via service.json and feathers-bootstrap? service.model.js doesn't implement feathers-rethink db, rather is a dependency of it.

[2016-11-19 01:45] slajax commented on #54
FYI, I've implemented this in #55.

[2016-11-19 20:15] #54 closed

[2016-11-20 00:01] daffl commented on #4
I added an option to `.createQuery` from `find` parameters so that you can implement custom events for query streams. I think that should be flexible enough for now and we can revisit this later?

[2016-11-20 00:01] #4 closed

[2016-11-20 00:01] daffl commented on #13
See https://github.com/feathersjs/feathers-rethinkdb/issues/4#issuecomment-261748417

[2016-11-20 00:01] #13 closed

[2016-11-20 00:03] #31 closed

[2016-11-20 22:16] daffl commented on #21
This with some additional RethinkDB documentation has been added in https://github.com/feathersjs/feathers-docs/pull/299 (see https://github.com/feathersjs/feathers-docs/blob/fa315927d85b1dd45ba73fe6b4b9fb1461b3f0b0/databases/rethinkdb.md) in the `Auk` branch.

[2016-11-20 22:16] #21 closed

[2016-11-20 22:17] daffl commented on #17
The documentation for the latest adapter (see https://github.com/feathersjs/feathers-docs/pull/299) has an example how to add geospatial restrictions to the query (see https://github.com/feathersjs/feathers-docs/blob/fa315927d85b1dd45ba73fe6b4b9fb1461b3f0b0/databases/rethinkdb.md#customizing-the-query).

[2016-11-20 22:17] #17 closed

[2016-11-26 22:57] genyded opened #61 "Hangs creating pool on Windows"
### Steps to reproduce

I am on Windows 10 and trying the example app. Rethink is running on the default port and the DB and table got created but when I run the app, it hangs at 'Creating a pool connected to localhost:28015'. Any thoughts on what to try or check?

![image](https://cloud.githubusercontent.com/assets/3081676/20644425/69d9a8ce-b3f9-11e6-9119-33200d8ba616.png)

[2016-11-26 23:07] genyded commented on #61
Sorry - premature. Looks like it's actually working, but I expected more output when starting it...

![image](https://cloud.githubusercontent.com/assets/3081676/20644468/db805260-b3fa-11e6-93de-f1856a40dba7.png)

[2016-11-26 23:07] #61 closed

[2016-12-12 14:42] JZiebikiewicz opened #62 "Query with $and condition?"
Hi, let's assume my sample users data looks like:
[code]
I would like to find all users with 'John' in _firstName_ OR in _lastName_ **AND** 'fishing' OR 'skiing' in _hobbies_. I need it for searching and filtering in app.

**Is there any way to accomplish that?** Any kind of **$and**? My current query (below) works, but is terrible and weird. And if I add another hobby filter (ex. 'cooking'), it w

[2016-12-21 16:13] daffl commented on #62
Closed via #64

[2016-12-21 16:13] #62 closed

[2016-12-26 01:15] ForsakenHarmony opened #66 "Doesn't create database or tables"
### Steps to reproduce

Try to use it without creating the database/table first

### Expected behavior

Should create the database and table

### Actual behavior

Throws an error which can't even be deciphered without debugging node

### System configuration

**Module versions** (especially the part that's not working):

`"feathers-rethinkdb": "^0.3.3"`

**NodeJS version**:

7.3.0

**Operating Sys

[2016-12-26 01:24] ForsakenHarmony commented on #66
nvm there's an additional init method

[2016-12-26 03:45] marshallswain commented on #66
@ForsakenHarmony why can't you create a service then call the method?

[code]

[2016-12-26 14:25] ForsakenHarmony commented on #66
@marshallswain that leads to the same Error : `Unhandled rejection ReqlRuntimeError`

I've tried putting it everywhere

if I put the `app.use` in the then block it tells me that I have to configure every service before the auth service, any other way and I get that Error ^

[2016-12-26 14:25] ForsakenHarmony commented on #66
Stacktrace
[code]

[2016-12-26 15:33] marshallswain commented on #66
Hmmm...   That's odd.  Here's how it's used in the tests: https://github.com/feathersjs/feathers-rethinkdb/blob/master/test/index.test.js#L259

Can you try it that way and give me an update?

[2016-12-26 15:41] marshallswain commented on #66
I missed that part.  We should probably make the init functionality available as a standalone utility, so it's not attached to a service.  Then you'll be able to do all of your preparation in a single step, then setup all of your services and Auth.

[2016-12-26 18:30] ForsakenHarmony commented on #66
so I have to create them manually for now?

[2016-12-26 18:31] marshallswain commented on #66
That's what I'd recommend, for now.  Or make a pull request.  :)

[2016-12-30 21:51] daffl commented on #66
I just tried locally (and on CI) and `init` should work. To make sure that all tables are created you can register the services the way they are supposed to and then use this:

[code]

before starting the app. Calling `init` multiple times (or with an existing table) shouldn't do anything.

[2016-12-30 21:57] ForsakenHarmony commented on #66
that does sound interesting

[2017-02-03 07:17] #66 closed

[2017-02-15 14:49] ForsakenHarmony commented on #66
kinda having difficulties with this now, init is already called in the services to bind the hooks which seems to lead to it trying to initialise the database twice, getting errors from that

[2017-02-15 16:18] daffl commented on #66
It shouldn't do anything [if the db already exists](https://github.com/feathersjs/feathers-rethinkdb/blob/master/src/index.js#L50).

[2017-02-15 17:48] ForsakenHarmony commented on #66
Also not sure how to initialise the hooks, because they were originally in `init().then(...)`

[code]

[2017-02-15 17:54] daffl commented on #66
You can register the hooks before the table is initialized. What exactly is the issue? Are you trying to add something to the db once the server starts up?

[2017-02-15 18:01] ForsakenHarmony commented on #66
ok, I have no idea why I have it after the promise

[2017-02-16 15:41] ForsakenHarmony commented on #66
bump

[2017-02-16 16:48] daffl commented on #66
Can you create a breaking example and open a new issue? I'm using the exact same code I posted above to run our tests and never had an issue.

[2017-02-16 17:06] ForsakenHarmony commented on #66
managed to fix it with this
https://gist.github.com/ForsakenHarmony/a29e7684425642b7e3c6888e3794b253

[2017-02-16 17:07] ForsakenHarmony commented on #66
I think your example breaks as soon as you have multiple services

[2017-02-16 17:27] genyded opened #69 "Where is ../lib??"
This example has the line:

const service = require('../lib');

...where is this?

[2017-02-16 17:28] corymsmith commented on #69
@genyded Its created by the compile task in the package.json file. In your project it would just be `require('feathers-rethinkdb')`

[2017-02-16 17:32] #69 closed

[2017-02-16 17:37] daffl commented on #69
I fixed the example. It should be `require('feathers-rethinkdb')`

[2017-02-16 17:38] daffl commented on #66
I thought it worked with two services but maybe it was just a weird race condition. Here is the correct way to run it sequentially:

[code]

[2017-02-16 21:28] genyded commented on #69
Thanks Cory and David... I figured it out based on Cory's comment and then David 'fixed' it so it won't confuse others. I love how reactive (no pun intended) you Feathers JS folks are!

[2017-02-18 00:36] daffl commented on #69
I forgot that this would break the build. I'll add it as a comment instead, we're actually running our tests against the example with the current build so `../lib` has to remain there.

[2017-02-18 23:16] daffl commented on #66
This has been added to the new generator now via https://github.com/feathersjs/generator-feathers/pull/172

[2017-02-24 01:00] genyded opened #72 "Incorrect error message and/or lack of support for DB toggling/changing"
### Steps to reproduce

1. Configure a service without the db: option in the rethink options and you will get the error

`You must provide either an instance of r that is preconfigured with a db, or a provide options.db.`

However if you specify the options.db in the service config as the error above states, it still does not work:

[code]

You still get the same error. If you specify the db in th

[2017-02-24 03:40] daffl commented on #72
I think we can remove that error message unless there is still a reason @marshallswain had it added for.

[2017-02-24 03:59] genyded commented on #72
So we don't get a way to change databases?

[2017-02-24 04:56] daffl commented on #72
I'm not sure what that exactly changing databases means. I think the problem is that you have to pass `options.Model` + `options.name` instead of just an `options.table` so we could makek that possible although you already can change `app.service('rethinkservice').table` at any time after initialization and the adapter will then use that.

[2017-02-24 11:30] genyded commented on #72
I put an example of chaging DB (not table) above outside of a Feathers service and still using rethinkdbdash. How can one pass the db to run () within a Feathers service?

If options db: was supported in the service options (like the error indicates), that would be possible. However, the service provider would also have to be modified to pass it on all the calls...

PSEUDO CODE:

Current:
[code]

[2017-02-25 21:28] genyded commented on #72
Maybe we're not quite being clear here, so I'll try to explain our perspective a bit better:

If we have Feathers service `mysvc` with a model linked to `DATABASE_A` and a feathers service `name` option linked to table `mytable` (feathers service 101), everything is fine and we can just start making service calls.

If we then want/need to make some calls to some table(s) inanother database `DATABA

[2017-03-01 03:47] daffl commented on #72
Wouldn't this be most easily solved by passing the `table` as the model (instead of db + name)?

[2017-03-01 04:05] genyded commented on #72
You lost me... maybe some brief code to show what you mean? How does passing a table equate to an alternate database? Or do you mean fully qualified table for name in the service options?

[2017-03-02 15:01] genyded commented on #72
One issue with that is when the db/table need to be created during initialization.  The pull request address that, keeps things exactly the same as they are now if any of this is not needed, and seems fairly straight forward (works the way rethinkdbdash does outside of Feathers), so why would we not want this capability?

If we cannot get this or a usable answer to creating and using and alternate

[2017-03-02 18:53] marshallswain commented on #72
@genyded I believe merging your PR fixed both problems mentioned in this issue.  Please reopen if we missed something.

[2017-03-02 18:53] #72 closed

[2017-03-25 18:42] theorye commented on #6
Has there been a decision on handling indexes with rethinkdb?

[2017-03-25 20:15] daffl commented on #6
I still don't understand what exactly the problem is unless RethinkDB is handling indexes totally different than any other of the databases. If someone could demonstrate what the issue is we can

[2017-03-25 22:03] daffl opened #76 "Challenges with watching changefeeds and hooks"
#75 introduced somewhat of a fix for the following problem:

When watching RethinkDB changefeeds we were just sending the data we get from the database directly as a real-time event. Unlike a normal method call, this means that the data did not get processed through hooks (specifically `after`) hooks. The current solution is to run the data manually through the respective methods `after` hooks.

P

[2017-03-29 00:49] daffl commented on #76
Due to these limitations I'm thinking that for the final release (v1.0) watching changefeeds should be disabled by default pointing out these caveats.

[2017-04-04 09:30] jeffijoe commented on #6
@daffl yes RethinkDB requires you to specify what index to use when doing a `getAll`.

Example:

[code]

[2017-04-04 14:32] daffl commented on #6
We are not using `getAll`. How would this look in a query? We can add a `params.index` to look for but this should already be possible to add the index by [customizing the query](https://docs.feathersjs.com/v/auk/api/databases/rethinkdb.html#customizing-the-query).

[2017-04-04 14:39] jeffijoe commented on #6
No you are using `filter`, right? Basically you can chain them.

[code]

[2017-04-04 14:40] marshallswain commented on #6
After reviewing this again, I think indexing should be handled the same way that it is handled in all other databases.  RethinkDB actually lets you create indexes in their web UI

![rethink web UI indexes](https://rethinkdb.com/assets/images/docs/query-language/secondary-index-ui.png).

If you know how you're going to query your data, why not create the indexes before-hand as you would with all ot

[2017-04-04 14:44] jeffijoe commented on #6
@marshallswain I am 99% sure you have to use them yourself, because AFAIK `filter` does a full scan on the sequence it's applied to.

[2017-04-04 14:59] marshallswain commented on #6
Based on reading their docs here: https://rethinkdb.com/docs/secondary-indexes/javascript/#compound-indexes, it's a best practice to create your indexes beforehand using the simple index GUI or ReQL in the web interface.  The only part that would make sense adding to the query syntax is being able to specify an index for parts of the query:

[code]

We need to come up with a concrete API for speci

[2017-04-04 15:00] marshallswain commented on #6
Currently, you'd have to use the link @daffl posted to [customize the query](https://docs.feathersjs.com/v/auk/api/databases/rethinkdb.html#customizing-the-query).

[2017-04-04 15:05] jeffijoe commented on #6
I currently do query customization.

[2017-04-04 15:45] daffl commented on #6
@jeffijoe Does it work well enough? We could add a paragraph to that documentation to point out that that is how to define the indexes you want to use. That way we can close this issue without having to add any new functionality (and everything that would come with it like tests and docs).

[2017-04-04 16:03] jeffijoe commented on #6
Yeah overriding works fine.

[2017-04-13 12:55] marcpaskell opened #80 "Service hooks called multiple times"
We have a user service as follows:

[code]

There are then hooks defined for the user service

[code]

Then simply POST a new user to localhost:3000/user and the console output is:

create User before
create User after
create User after

We then replaced the rethinkdb strategy with memory and the output is:

create User before
create User after

[code]

[2017-04-13 15:00] daffl commented on #80
This is because of https://github.com/feathersjs/feathers-rethinkdb/pull/75. The reason is that when watching the changefeeds we only get the plain data but we want to dispatch the data processed by  their after hooks. For more notes on watching changefeeds, see #76

[2017-04-15 14:30] tjramage opened #81 "Set default value in patch/update for "params" parameter"
### Steps to reproduce

Call directly from server (i.e. not triggered by client):

[code]

### Expected behavior
Object with ID `H1osMjJRx` has it's `name` prop updated to "A new name".

### Actual behavior
feathers-rethinkdb complains: "Cannot read property 'rethinkdb' of undefined"

This happens because the optional "params" parameter is not passed. Because the update/patch methods unsafely call

[2017-04-15 17:27] daffl commented on #81
A [Feathers wrapped service](https://docs.feathersjs.com/api/application.html#servicepath) always normalizes its parameters and has `params` available. Only the wrapped service should be used or, if instantiated and used directly, `params` has to be provided.

[2017-04-15 17:30] daffl commented on #81
Closed via #82

[2017-04-15 17:30] #81 closed

[2017-04-15 17:33] daffl commented on #81
I released the PR since it doesn't break anything but as mentioned, if you do not get the automatic method argument normalization you may not be using it as intended.

[2017-04-15 19:55] tjramage commented on #81
Thanks for merging the PR. Not too sure what you mean by that though... Regardless of whether I'm using a wrapped service, if I call the `patch()` method directly on the server without supplying `params` then it'll fail. Are you saying that I should supply an empty object in my call to `patch()` in place of `params`?

Thanks for your help.

[2017-04-15 20:54] daffl commented on #81
What I mean is that a service registered with and used through Feathers will always get its arguments normalized (as in `params` will always be an object even if you don't pass it). For example:

[code]

Will print `{}` for params in both cases. This will not work if you use `const service = new MyService()`  directly but in that case yo also won't get real-time or any other Feathers functionality

[2017-04-19 16:35] Alendorff opened #84 "Put additional info to after hooks called by rethinkdb changefeed"
## It could be useful to have:

1. `old_value`, when after hook called by changefeed and `hook.method` is patch or update
2. some indicator field which tells you that hook called by rethinkdb changefeed. E.g. `hook.params.changefeed = true` or something similar. I think it's not enough convenient to rely always on `hook.params.provider` and `hook.params.user`.

I would like to create a PR for it i

[2017-04-19 18:08] daffl commented on #84
I was thinking about the exact same thing. We could set `params.changefeed` to the changefeed values and do both things at once.

[2017-04-19 18:09] daffl commented on #84
I was also debating that for the 1.0 release we may want to make watching changefeeds an explicit option due to some of the caveats I outlined in #76

[2017-04-19 22:17] Alendorff commented on #84
Agreed, `watch` should be `false` by default. As for me all events for any services in feathers should be switchable but issue not about it...
So, can I create a PR for `changefeed`? My personal interest in `old_value` for update event, new value available in `hook.result`. So what exactly `changefeed` field should contains?

[2017-04-20 07:53] Mangatt opened #85 "Multiple databases"
Hi, is there a way how to use single service Feathers with multiple dynamically created RethinkDB databases? DB should be selected on param (eg. app1.feathersjs.com would use DB app1, app2.feathersjs.com would use DB app2 etc.).

There would be many of those databases so running separate apps is not an option. I know that I could opt not to use this repo, but that means I have to rewrite pretty mu

[2017-04-20 11:49] marshallswain commented on #85
See https://github.com/feathersjs/feathers-rethinkdb/pull/73

[2017-04-20 12:00] Mangatt commented on #85
@marshallswain I'm not sure that solves my case - service options are added on init, but I need to change DB per request.

[2017-04-20 12:27] marshallswain commented on #85
I'm pretty sure you can swap out the table

RethinkdbService.table = ...

https://github.com/genyded/feathers-rethinkdb/blob/9dcf75d9e0267be17a774d697e8e92bffe12a86a/src/index.js#L37

[2017-04-20 12:52] Mangatt commented on #85
You are right, I didn't know that table is available on service object. But what about realtime? When I change table on the fly, would that interfere with it? I guess that will broke that feature, right?

Do you think that there is some better way how to utilize this use case?

[2017-04-20 12:54] marshallswain commented on #85
Realtime doesn't depend on the table.  It's completely decoupled.  Messages will still go out.

[2017-04-20 13:03] Mangatt commented on #85
Ok, that solves one thing but opens another - what to do with realtime then? Watch option will have to be set to false and events will be emited by feathers itself and need to be filtered?

[2017-04-20 14:42] marshallswain commented on #85
I don't know the answer because I don't know what you want to accomplish.  What you do with realtime will probably depend on what you want to happen on the clients.

[2017-04-20 15:54] daffl commented on #85
How would you emit real-time events per db when the db depends on the request (which we don't know about on changefeed events)?

[2017-04-21 06:53] Alendorff commented on #84
@daffl pss, so what about PR?

[2017-04-30 03:10] Alendorff commented on #84
@daffl so what do you say? My proposal is to have:
changefeed = {
  old_val?:Object;
  new_val?:Object;
}

and new_val will be duplicated in hook.result for hook behavior consistency.

[2017-05-08 16:01] jpeffer opened #89 "Support searching against nested fields using dot notation"
New to feathers and rethink, but from what I have been told, feathersjs does not inherently support searching nested object properties. Often document structures will have nested structures and not being able to search for those properties is quite limiting.

Consider the following structure:

   "name":"Metro West",
   "postalAddress":{
      "street":"221 Fielding ST",
      "city":"Fairfax",

[2017-05-09 07:14] bslayton commented on #85
I am also looking for a way to accomplish this. For my use case, there are organizations with their own CNAME/subdomain on a domain I control, or a domain/hostname that they control. I can extend the adapter, of course, however, @daffl brings up a point about changefeeds.

It seems hacky, but I suppose changefeeds could be init'd when the server is started, based on a configureable db prefix (or w

[2017-05-09 20:53] daffl commented on #85
Not at all opposed, I'm just not sure how this would look like. Any thoughts?

[2017-05-10 13:06] marshallswain commented on #89
Nested fields work completely differently with RethinkDB.  It uses some pretty funky syntax: https://www.rethinkdb.com/docs/nested-fields/javascript/.  Unfortunately, implementing this means analyzing every attribute in the query and converting `postalAddress.state` into function calls like `('postalAddress')('state')`.  I haven't looked at how difficult this will be.

[2017-05-11 21:37] jpeffer commented on #89
Played around with this for awhile. Supporting equality is fairly simple. Matching however requires the syntax you mentioned above of ('l1')('l2')...(n). If anyone has suggestions for building this dynamically, I would be happy to try them out. I was trying to avoid the use of r.js or Function().

[2017-05-11 23:37] bslayton commented on #85
I have this working, minus websocket support, with a wrapper around feathers-rethinkdb. It requires two key/value pairs within a table for hostname lookup. The other key/value contains the DB related to said hostname.

[2017-05-13 17:36] jpeffer commented on #89
Pull request [91](https://github.com/feathersjs/feathers-rethinkdb/pull/91) submitted.

[2017-05-17 10:59] giesekow commented on #85
I also need this feature for a multi company application I am working on. I want to keep one database for running the company service. This service will then contain information on which database name to connect to retrieve the company specific services. I am using mongoDB. @bslayton can you explain a bit more on how you handled yours in feathers-rethinkdb so I try to see if I can adapt it to my c

[2017-05-30 14:51] daffl commented on #89
Closed via #91

[2017-05-30 14:51] #89 closed

[2017-06-06 13:45] riyadhzen opened #93 "Change feeds hang silently after disconnecting from server or after re-balancing a sharded cluster"
Hi

By default feathers-rethinkdb watches the service table for changes and transforms these changes to hooks. However when the connection to the database is disconnected or if you try to rebalance or reconfigure a sharded cluster (which causes some downtime in rethinkdb) you no longer get change feeds.

The problem is found in [line 305](https://github.com/feathersjs/feathers-rethinkdb/blob/maste

[2017-07-11 21:48] greenkeeper[bot] opened #95 "An in-range update of feathers-hooks is breaking the build 🚨"
## Version **2.0.2** of [feathers-hooks](https://github.com/feathersjs/feathers-hooks) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/feathersjs/feathers-rethinkdb/compare/greenkeeper%2Ffeathers-hooks-2.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      feathers-hooks
    </td>
  <

[2017-07-12 08:36] bslayton commented on #85
@giesekow,

I modified this in feathers-knex. I've only tried it with postgresql. Use at your own risk. I'm not sure of what all breaks with this. I do know that you'll have to implement a mechanism to create and/or verify schemas, tables, and columns exist. I am also certain that websocket support is broken for a number of reasons.

After replacing the official feathers-knex repo with mine, you'l

[2017-07-12 17:09] bslayton commented on #85
@daffl, do you have any potential solutions to supporting dynamic hostnames across the board in feathers database plugins? Including websockets, but, I think that would be an issue of it's own. I'll go out on a limb and say most people wanting to change databases based on hostname, would probably be cool dropping websocket support.

[2017-07-12 17:19] daffl commented on #85
I don't know. This never came up before for any db other than RethinkDB. You can always swap out `app.service('myservice').Model` to the connection you need (similar to https://github.com/feathersjs/feathers/issues/613#issuecomment-313568669). I don't think there is anything else that needs to be supported by the database adapters in general.

[2017-07-12 18:53] #95 closed

[2017-07-26 08:50] VMois opened #96 "Error while trying to patch multiple records"
### Steps to reproduce
Trying to patch using following code (hook it's variable from), according to https://legacy.docs.feathersjs.com/services/readme documentation:
[code]
### Expected behavior
set deleted: true to all records in database where page_id is equal hook.result.id

### Actual behavior
Error:
[code]

It's a bug or my fail? Thank you.

**Module versions** (especially the part that's not

[2017-07-26 13:29] daffl commented on #96
Strange, this should be tested via https://github.com/feathersjs/feathers-service-tests/blob/master/src/common-tests.js#L550 but it seems like something is going wrong in the query.

[2017-09-07 02:56] stevenmathews commented on #84
@daffl This would be very useful to me as I'm trying to create an after hook that only sends an email if a user role gets changed directly from the database. Not sure how to accomplish this without the old_val also.

[2017-09-11 17:18] andysay opened #99 "Hello how find record with param orderby ?"
Hello how find record with param orderby ?  thanks

[2017-09-11 17:20] daffl commented on #99
You can use [$sort](https://docs.feathersjs.com/api/databases/querying.html#sort) through the [standard Feathers query syntax](https://docs.feathersjs.com/api/databases/querying.html).

[2017-09-11 17:20] #99 closed

[2017-09-29 19:37] andysay opened #100 "FeathersJS REST Multiple Query String"
- [ hello , how filter like ?messages?catygories[$in]=6515452f-c68b-40d1-bdaa-a37effef8533 , i found information about qs npm package , but not understand how use it, i console i have   ]

`Method: find: Cannot convert STRING to SEQUENCE in:
r.db("news").table("messages").filter(function(var_4) {
    return r.expr({}).and(r.expr("6515452f-c68b-40d1-bdaa-a37effef8533").contains(var_4("catygories"))

[2017-09-29 19:38] daffl commented on #100
It's `messages?catygories[$in][]=6515452f-c68b-40d1-bdaa-a37effef8533` to indicate that you always want an array.

[2017-09-29 19:40] andysay commented on #100
@daffi yes is it ! when i try get messages show error

[2017-09-29 19:42] daffl commented on #100
No. You are using `catygories[$in]=`. It has to be `catygories[$in][]=` - notice the additional `[]`

[2017-09-29 19:44] andysay commented on #100
@daffi okey i'm try catygories[$in][id]=6515452f-c68b-40d1-bdaa-a37effef8533

and i have ` Cannot convert OBJECT to SEQUENCE
    at Connection._processResponse (/Users/andreyleonov/Desktop/feathersjs-nuxt-server-rendered/cmsmodernapp/node_modules/rethinkdbdash/lib/connection.js:395:15)
    at Socket.<anonymous> (/Users/andreyleonov/Desktop/feathersjs-nuxt-server-rendered/cmsmodernapp/node_modules/

[2017-09-29 19:59] andysay commented on #100
{
  "catygories": [
    "6515452f-c68b-40d1-bdaa-a37effef8533",
    "a8d4e903-cee4-4972-bd73-c60fc3c1c0d2"
  ],
  "content": "<p>5555555</p>",
}

thats my document , how filter catygories ?

[2017-09-30 00:31] daffl commented on #100
This is what `$contains` is for which is [documented in the adapter API](https://docs.feathersjs.com/api/databases/rethinkdb.html#contains).

[2017-10-01 16:44] #100 closed

[2017-10-02 11:26] andysay commented on #100
@daffi Thank you !

[2017-10-05 13:09] fi4sk0 commented on #96
I might have the same problem and I think it's related to pagination. If `patch` is executed with a null id, the function correctly uses `find` to resolve the items to be patched, but then uses Array.isArray to find out of the result is a data array. This is the case for non-paginated results, but with pagination, the data is wrapped into an additional object, so the it branches into the `else` st

[2017-10-05 13:36] fi4sk0 commented on #96
Does pagination even make sense when we patch many?

[2017-10-24 14:06] dailycommit opened #102 "Expected type TABLE but found SELECTION"
I am getting an error like the following while trying to **createQuery** as in the documentation.
everything is default and there is a demo service I just created for the experiment.
What could be the problem?

[code]

[code]

[2017-12-12 03:45] marcelgoya commented on #93
I've encountered the same problem. I found a node module that solves the problem:

https://github.com/LearnersGuild/rethinkdb-changefeed-reconnect

[2018-01-01 22:25] sturatcliffe opened #105 "Querying for numeric equality"
### Steps to reproduce

Querying for numeric equality isn't working. I have a "cashflow" service with one record as follows:

[code]

but when I try and query by year as so:

`localhost:3030/cashflow?year=2017`

I receive no results. I've tried the $search method as well, like so:

`localhost:3030/cashflow?year[$search]=2017`

but receive errors around strings being expected but finding numbers in

[2018-01-01 22:38] daffl commented on #105
You might have to convert the query to the correct data type in a `before` hook:

[code]

[2018-01-02 06:53] sturatcliffe commented on #105
Thanks, that's working great. I'm new to feathers, is this a normal thing to expect to need to create hooks for? Or something likely to be supported by default at some point?

Thanks again

[2018-01-02 16:14] daffl commented on #105
HTTP URLs have no type information, they are always strings and since NoSQL database like MongoDB or RethinkDB don't have a schema there is no way for Feathers to know what data type it actually expects so you will have to convert it yourself.

If you are using Websockets instead, queries will arrive in the correct data type.

[2018-01-03 18:19] iduna-fly commented on #102
@dailycommit I ran into the same problem and here is the solution.

[code]

Documentation is already updated and pull request made.

[2018-01-03 18:48] daffl commented on #102
Updated via https://github.com/feathersjs-ecosystem/feathers-rethinkdb/pull/107 so I think we can close this. Thanks again for digging into this @iduna-fly!

[2018-01-03 18:48] #102 closed

[2018-01-06 21:11] #105 closed

[2018-02-14 12:00] rbajaniya opened #110 "How to use Customizing the query"
my code like

[code]

but it gives me an error `this.createQuery is not a function`

[2018-02-14 16:22] daffl commented on #110
`this` will not be what you expect if you are using arrow functions. `context.service.createQuery` is the same thing and should probably be preferred.

[2018-03-05 23:28] abalad opened #111 "Query $In Generating error when passed with more than 30 Values"
### Steps to reproduce

Create a query for the service using the IN selector that contains 30 or more values

### Expected behavior
return records corresponding to past values

### Actual behavior
The Rest Service returns an error when many values are passed into the IN

[code]

**RESPONSE**
`{"name":"GeneralError","message":"Cannot convert OBJECT to SEQUENCE in:\nr.db(\"otiseg_db\").table(\"bem\"

[2018-03-05 23:42] daffl commented on #111
Please see https://docs.feathersjs.com/faq/readme.html#why-are-queries-with-arrays-failing

[2018-03-06 23:58] abalad commented on #111
@daffl I'll take a look thank you very much

[2018-03-07 00:04] abalad commented on #111
@daffl Could you give me an example of how to do this: `app.set ('query parser', parserFunction)` ??

[2018-03-07 00:11] daffl commented on #111
[code]

[2018-03-07 00:16] abalad commented on #111
@daffl Thanks, but I changed all my requests to work with socket because I saw that the problem was only with REST. Now I think it worked.

[2018-03-07 00:25] daffl commented on #111
If possible, that is what we recommend to go with.

[2018-03-07 00:25] #111 closed

[2018-03-07 00:28] abalad commented on #6
@jeffijoe You could post as you did the implementation because I am with the same problem but I am not able to create the query

[2018-03-07 07:30] jeffijoe commented on #6
@abalad

[code]

[2018-03-07 12:14] abalad commented on #6
@jeffijoe Thanks, is there any doubt this syntax you are using is Typescript?

[2018-04-07 07:56] andysay opened #112 "how use table- join ?"
Hello, https://www.rethinkdb.com/docs/table-joins

how use it with this adapter? tahnks

[2018-04-07 16:02] daffl commented on #112
How to customize the RethinkDB query is documented [here](https://github.com/feathersjs-ecosystem/feathers-rethinkdb#customizing-the-query).

[2018-04-09 11:10] a-sahel commented on #96
I have the same problem.
It's located here. The if condition may be based on `id === null` https://github.com/feathersjs-ecosystem/feathers-rethinkdb/blob/master/lib/index.js#L206

[2018-04-19 15:16] #112 closed

[2018-04-20 03:15] #110 closed

[2018-04-24 19:55] #80 closed

[2018-05-02 00:32] #85 closed

[2018-05-06 11:53] baljeet commented on #80
I am facing this issue.

I am trying to create an object inside after-hook of a service. Not able to notice a pattern in number of times the hook is called till now.

Any suggestions?

[2018-05-12 17:00] tkrugg opened #115 "How do I add a custom method to the rethinkdb service ?"

[2018-05-13 23:10] daffl commented on #115
The same way as shown in the [ES6 class extension API](https://docs.feathersjs.com/api/databases/common.html#classes-es6) for database adapters.

[2018-05-14 22:10] #115 closed

[2018-06-06 15:40] #6 closed

[2018-07-30 20:10] davidfarinha opened #117 "Missing TypeScript Support/Typings Support"
Hi guys,

It would be great if we could strongly-type the RethinkDB operations provided through this project's service class.

### Steps to reproduce
Consume feathers-rethinkdb from a TypeScript project.

### Expected behavior
Typescript Typings provided (through  "@types/feathers-rethinkdb") and available on npm (preferably through [Definitely Typed](https://github.com/DefinitelyTyped/DefinitelyT

[2018-07-30 20:55] daffl commented on #117
Thank you for the suggestion @davidfarinha. It would be great if someone is interested in taking this on.

Due to the uncertain state of RethinkDB and the low usage numbers of this module (as compared to other database adapters) I am not actively looking into adding any new features myself though.

[2018-08-04 12:32] davidfarinha commented on #117
OK understandable. Awesome framework by the way! I'd be happy to help and create the TypeScript typings for this module so I can take this on.

Cheers,
David Evans

[2018-08-05 02:10] davidfarinha commented on #117
I've made the typescript typings for this module and added a pull request on [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped). When merged, these TypeScript typings will available on npm as "@types/feathers-rethinkdb".

[Link to Pull request (DefinitelyTyped #27879)](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/27879)

[Link to new feathers-rethinkdb typings/declara

[2018-08-05 03:12] daffl commented on #117
Sweet, thank you! We can add it as a dependency as well once it is published (so that types are pulled in automatically).

[2018-08-28 13:37] davidfarinha commented on #117
The types are up [on my github repo](https://github.com/davidfarinha/types-feathers-rethinkdb) for now which is enough to close this issue.
Cheers

[2018-08-28 13:37] #117 closed

[2018-09-04 07:23] daffl opened #119 "Maintainer needed"
Since RethinkDB's future is still uncertain, I am not using it and this adapter has relatively [low download numbers](https://www.npmjs.com/package/feathers-rethinkdb), I am no longer planning on maintaining this module. It will continue to work as is but will not include any new Feathers database adapter features and therefore not be part of future versions of the generator.

Please comment here

[2018-09-12 08:44] greenkeeper[bot] opened #121 "An in-range update of debug is breaking the build 🚨"
## Version **4.0.1** of **debug** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/feathersjs-ecosystem/feathers-rethinkdb/compare/master...feathersjs-ecosystem:greenkeeper%2Fdebug-4.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://gi

[2018-09-18 03:42] greenkeeper[bot] opened #122 "An in-range update of @feathersjs/socketio is breaking the build 🚨"
## The devDependency [@feathersjs/socketio](https://github.com/feathersjs/feathers) was updated from `3.2.4` to `3.2.5`.

🚨 [View failing branch](https://github.com/feathersjs-ecosystem/feathers-rethinkdb/compare/master...feathersjs-ecosystem:greenkeeper%2F%40feathersjs%2Fsocketio-3.2.5).

This version is **covered** by your **current version range** and after updating it in your project **the bui

[2018-09-18 15:38] #122 closed

[2018-09-19 18:30] #121 closed

[2018-10-03 23:17] rayfoss commented on #85
If you swap the model, annonymous socket events will still go out to all other "domains". User based subscriptions may be meaningless. Unless we open a socket on a different port, per domain.

Real-time is the trickiest part of this.

[2018-10-25 16:48] greenkeeper[bot] opened #124 "An in-range update of @feathersjs/socketio is breaking the build 🚨"
## The devDependency [@feathersjs/socketio](https://github.com/feathersjs/feathers) was updated from `3.2.6` to `3.2.7`.

🚨 [View failing branch](https://github.com/feathersjs-ecosystem/feathers-rethinkdb/compare/master...feathersjs-ecosystem:greenkeeper%2F%40feathersjs%2Fsocketio-3.2.7).

This version is **covered** by your **current version range** and after updating it in your project **the bui

[2018-10-25 17:29] #124 closed

[2019-03-29 20:24] belal-mazlom commented on #119
Hi @daffl
I am using this adapter in many projects, if I could help to keep this adapter up to date and maintained  that would be my pleasure.

[2019-03-29 23:48] daffl commented on #119
Thank you @belal-mazlom for the offer! The bigger update necessary at the moment would be to implement the new database adapter changes (https://crow.docs.feathersjs.com/migrating.html#database-adapters) which are tested in https://github.com/feathersjs-ecosystem/feathers-rethinkdb/pull/118. You can see how the upgrade looks for another database adapter in https://github.com/feathersjs-ecosystem/f

[2019-06-29 01:16] #119 closed

[2019-07-18 23:10] greenkeeper[bot] opened #127 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.1.4` to `6.2.0`.

🚨 [View failing branch](https://github.com/feathersjs-ecosystem/feathers-rethinkdb/compare/master...feathersjs-ecosystem:greenkeeper%2Fmocha-6.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency o

[2019-07-19 15:36] daffl commented on #76
Closing, see https://github.com/feathersjs-ecosystem/feathers-rethinkdb/issues/119

[2019-07-19 15:36] #76 closed

[2019-07-19 15:36] daffl commented on #84
Closing, see https://github.com/feathersjs-ecosystem/feathers-rethinkdb/issues/119

[2019-07-19 15:36] #84 closed

[2019-07-19 15:36] daffl commented on #93
Closing, see https://github.com/feathersjs-ecosystem/feathers-rethinkdb/issues/119

[2019-07-19 15:36] #93 closed

[2019-07-19 15:36] daffl commented on #96
Closing, see https://github.com/feathersjs-ecosystem/feathers-rethinkdb/issues/119

[2019-07-19 15:36] #96 closed

[2019-07-19 15:36] #127 closed